<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
		{% if site.google_analytics != "" %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.google_analytics }}');
		</script>
		{% endif %}
	</head>
	<body id="top">
		{{ content }}
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
	</body>
</html>
